/* You can add global styles to this file, and also import other style files */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.my-container {
    height: calc(100vh - 7rem);
}

html::-webkit-scrollbar {
    width: 0.6rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #FFC300;
}

.card__animate {
    filter: drop-shadow(5px 0 10px black);
}

.card__animate:hover {
    filter: drop-shadow(0 0 2px black);
}